<div class="col-md-4 mt-2 mb-4">
  <div class="card user-card p-4">
    <div class="card-block">
      <h4 class="card-title"><%= signature.fullname %></h4>
      <h6 class="card-subtitle text-muted"><%= signature.job_title %></h6>
      <div class="d-flex flex-row align-items-center">
        <div class="p2">
          <%= link_to signature, class: "text-dark" do %>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
