<div class="d-flex justify-content-start mb-4">
  <%= link_to 'Back', signatures_path, class: 'btn btn-light' %>
</div>

<div class="card">
  <h3 class="card-title-mt-3 ms-3">New Email Signature</h3>
  <%= render 'form', signature: @signature %>
</div>
