<div class="d-flex justify-content-start mt-4 mb-4">
  <%= link_to 'Back', signatures_path, class: 'btn btn-outline-dark' %>
</div>

<div class="card p-5">
  <h3 class="card-title ms-3">New Email Signature</h3>
  <%= render 'form', signature: @signature %>
</div>
