<div class="d-flex justify-content-start mt-4 mb-4">
  <%= link_to 'Back', root_path, class: 'btn btn-outline-dark' %>
</div>

<div class="d-flex justify-content-center">
  <%= render 'email-signature' %>
</div>
