// Place all the styles related to the Signatures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

#error_explanation {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
  }
}
